@media screen and (max-height: 730px) and (min-width: 701px) {
  .iphone {
    width: 380px;
  }
  .option-picker {
    height: 125px;
  }
}
@media screen and (min-height: 731px) and (max-height: 760px) and (min-width: 701px) {
  .option-picker {
    height: 130px;
  }
  option {
    height: 18px;
  }
}
@media screen and (min-height: 900px) and (min-width: 701px) {
  .option-picker {
    height: 17.7vh;
  }
  option {
    height: 33px;
  }
}

/*MobilAnpassad*/
@media screen and (max-width: 700px) {
  body {
    margin: 0;
  }
  .iphone {
    background: white;
    width: 100vw;
  }

  .border {
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .contact-box {
    height: 90px;
  }
  .option-picker {
    position: absolute;
    top: 76%;
  }

  .me {
    margin-left: 80px;
  }
  .center-later-me {
    margin-right: 118px;
  }
  .center-later-erica {
    margin-left: 150px;
  }
}

/*iPhone 5/SE*/
@media screen and (max-width: 350px) {
  option {
    padding: 12px 0;
  }
  .center-later-me {
    margin-right: 90px;
  }
  .center-later-erica {
    margin-left: 130px;
  }
}
/*iPhone 6/7/8*/
@media screen and (max-width: 380px) and (min-width: 351px) and (max-height: 700px) {
  option {
    padding: 16px 0;
  }
  .me {
    margin-left: 90px;
  }
  .erica {
    margin-right: 90px;
  }
  #langtid {
    margin-left: 85px;
  }
}

/*iPhone 6/7/8 Plus*/
@media screen and (max-width: 420px) and (min-width: 381px) {
  option {
    padding: 19px 0;
  }
  .erica {
    margin-right: 105px;
  }
  .me {
    margin-left: 105px;
  }
  .center-later-me {
    margin-right: 145px;
  }
  .center-later-erica {
    margin-left: 170px;
  }
  #langtid {
    margin-left: 95px;
  }
}

/*iPhone X*/
@media screen and (max-width: 400px) and (min-height: 800px) {
  option {
    padding: 22px 0;
  }
  .me {
    margin-left: 90px;
  }
  .erica {
    margin-right: 90px;
  }
  #langtid {
    margin-left: 80px;
  }
}
