body {
  background-color: white;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
}
/*IPHONE*/
.iphone {
  width: 410px;
  height: 100vh;
  background-image: url("iphone8_img.png");
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
}
/*iPhone Boxen*/
.border {
  position: absolute;
  overflow: auto;
  left: 9.3%;
  right: 10.3%;
  top: 13%;
  bottom: 13.3%;
  background-color: white;
}
/*Status Bar*/
.iphone-top-ui {
  height: 20px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-time,
.internet-p,
.battery-p {
  font-weight: bold;
  margin: 2px 0 0 0;
}
.signal-bars {
  width: 20px;
  margin-left: 0.2vw;
}
.wifi-bar {
  height: 75%;
  width: 20px;
  margin-left: 0.2vw;
  margin-right: 21px;
}
.status-flex {
  display: flex;
  align-items: center;
}
.battery-bar {
  width: 30px;
  height: 12px;
  margin-right: 0.2vw;
  margin-left: 2px;
}

/* KONTAKT BILD + NAMN */
.contact-box {
  position: absolute;
  width: 100%;
  height: 14%;
  background-color: #f8f8f8;
  opacity: 0.9;
}
.contact-info {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-img {
  height: 60%;
  border-radius: 50%;
  margin-top: 7px;
}
.contact-name {
  margin: 3px 0 0 0;
  padding: 0;
}
/*----*/
