body {
  background-color: white;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
}
p {
  margin: 1px 0;
}
/*IPHONE*/
.iphone {
  height: 100vh;
  width: 410px;
  background-image: url("iphone8_img.png");
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
}
/*iPhone Boxen*/
.border {
  position: absolute;
  left: 9.3%;
  right: 10.3%;
  top: 13%;
  bottom: 13.3%;
  background-color: white;
}
/*Status Bar*/
.iphone-top-ui {
  height: 20px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-time,
.internet-p,
.battery-p {
  font-weight: bold;
  margin: 2px 0 0 0;
}
.signal-bars {
  width: 20px;
  margin-left: 0.2vw;
}
.wifi-bar {
  height: 75%;
  width: 20px;
  margin-left: 0.2vw;
  margin-right: 21px;
}
.status-flex {
  display: flex;
  align-items: center;
}
.battery-bar {
  width: 30px;
  height: 12px;
  margin-right: 0.2vw;
  margin-left: 2px;
}

/* KONTAKT BILD + NAMN */
.contact-box {
  position: absolute;
  width: 100%;
  height: 14%;
  background-color: #f8f8f8;
  opacity: 0.9;
}
.contact-info {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-img {
  height: 60%;
  border-radius: 50%;
  margin-top: 7px;
}
.contact-name {
  margin: 3px 0 0 0;
  padding: 0;
}
/*----*/

/* Chattscroll */

.border {
  overflow: hidden;
}
.iphone-chat {
  overflow: auto;
}
*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  color: #7f7d7d;
}
*::-webkit-scrollbar-thumb {
  background-color: #7f7d7d;
  border-radius: 5px;
  border: 2px solid #7f7d7d;
}

/* Chattbubblor*/
.iphone-chat {
  height: 97%;
}

.erica {
  background-color: #eee;
  float: left;
  margin-left: 10px;
  margin-right: 115px;
}

.me {
  background-color: #0084ff;
  color: #fff;
  float: right;
  margin-right: 10px;
  margin-left: 72px;
}

.erica,
.me {
  padding: 10px;
  max-width: 224px;
  border-radius: 15px;
}

.me + .erica {
  margin-top: 15px;
}
.erica + .me {
  margin-top: 15px;
}

.me:last-of-type,
.erica:last-of-type {
  margin-bottom: 15px;
}
.chat-img {
  background-color: transparent;
  padding: 0;
  border-radius: 5px;
}

.chat-img + .chat-img {
  margin-top: 5px;
}

#langtid {
  margin-left: 50px;
}
/* ANIMERING AV CHAT BUBBLOR*/
.chatAni {
  animation-name: chatbbl;
  animation-duration: 1s;
}
@keyframes chatbbl {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*Chat time */
.start-chat {
  margin-top: 100px;
}
.chat-time {
  text-align: center;
  color: grey;
}

.center-later-me {
  margin-right: 99px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.center-later-erica {
  float: left;
  margin-left: 128px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Pick options*/

.option-picker {
  width: 100%;
  border-top: 2px solid black;
  overflow: hidden;
}
option {
  width: 100%;
  height: 20px;
  font-size: 15px;
  padding: 10px 0;
  border: 1px solid black;
  text-align: center;
}

option:focus,
option:active,
option:checked {
  background: linear-gradient(#0084ff, #0084ff);
  font-weight: bold;
}
#a:hover,
#b:hover,
#c:hover {
  background-color: #0084ff;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
